/node_modules
/public/build
/public/hot
/public/storage
/public/files
/public/images

/storage/*.key
/vendor
/artscure-database
artscure-database
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
